body {
    background-color: antiquewhite;
    font-size: 16px;
}
.navbar-brand span {
    font-size: 2.5em;
    margin-right: 150px;
}
#menu-heading {
    margin: 50px 0 100px;
}
.menu-item {
    background-color: bisque;
    color: brown;
}
.menu-item h3 {
    color: cadetblue;
    font-size: 1.8em;
}

@media (max-width:992px){
    .navbar-brand span {
        font-size: 1.5em;
        margin-right: 0;
    }
}
@media (min-width: 768px){
    .navbar-toggler{
        display: none;
    }
}